# Created by .ignore support plugin (hsz.mobi)
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out

*.class
*.log
configs/*
running-result/
*.tgz
/src/main/scala/learn_cats/

*.zip
node_modules/
data/parsedRepos
docker-sync.yml
models/
package-lock.json
.DS_STORE